@font-face {
    font-family: "Computer Modern";
    src: "cmunss.otf";
}
  @font-face {
    font-family: "Computer Modern";
    src: 'cmunsx.otf';
    font-weight: bold;
}
  @font-face {
    font-family: "Computer Modern";
    src: 'cmunsi.otf';
    font-style: italic, oblique;
}
  @font-face {
    font-family: "Computer Modern";
    src: 'cmunbxo.otf';
    font-weight: bold;
    font-style: italic, oblique;
}


body {
    text-align: center;
    font-family: "Computer Modern", sans-serif;
    background-color: midnightblue;
    background-image: url(moon.png), url(sun.png), linear-gradient(to right, midnightblue , lightskyblue);
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: 10%,10%, auto;
}

.center {
    background-color: gainsboro;
    margin: auto;
    width: 50%;
    border: 5px solid gold;
    padding: 5px;
    border-radius: 5px;
}

#mapid {
    width: min(600px,90%); 
    height: 400px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    bottom: 5px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border: 1px solid black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: gold;
}

input:focus + .slider {
    box-shadow: 0 0 1px gold;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    border: 1px solid black;
}

.slider.round:before {
    border-radius: 50%;
}

.button {
    background-color: gainsboro;
    border-radius: 10px;
    color: black;
    padding: 4px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 2px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: gold;
    color: black;
}
  

